/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
- Leaflet
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto';
}

html, body {
    height: 100%;
    width:100%;
    margin: 0; 
}

.leaflet-container {
    max-width: 100%;
    max-height: 100%;
    z-index:0;
}

#map{
    width: 100%; 
    height:100%; 
    z-index: 0;
    visibility: hidden;
}

#map:hover{
    cursor:grab;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
- Enter Page
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
#enterDiv{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    position:absolute;
    z-index:1000;
    top:40%;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color:white;
    opacity:0%; 
    animation:0.5s fadeOutEnterDiv;
}

#enterDiv:hover{
    cursor:default;
}

#enterDiv.fadeIn{
    opacity: 80%;
    animation:0.5s fadeInEnterDiv;
}

#enterButton{
    position:relative;
    z-index:900;
    margin-top:15px;
    padding:8px 20px;
    border:0px;
    border-radius:15px;
    background-color: grey;
    font-size:0px;   
    color:white;
    cursor:default;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#enterButton.ready:hover{
    cursor: pointer;
}

#enterButton.ready{
    border-radius:15px;
    font-size:20px;
    animation: 1s enterReady;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Loader =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#enterLoader{
    position:absolute;
    top:17.5px;
    width:40px;
    z-index:1000;
    height:10px;
    overflow:hidden;
    border-radius:20px;
}

.circlesContainer{
    width:60px;
    position:relative;
    display:flex;
    justify-content: space-around;
}

.c{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 12px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color:white;
    height:10px;
    width:10px;
    border-radius:10px;
}

#c1{
    left:40px;
    animation: 2s c1 linear infinite;
}

#c2{
    left:0px;
    top:-10px;
    animation: 2s c2 linear infinite;
}

#onLoadLocation{
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
    position:relative;
    max-width:200px;

}
#refreshButton{
    text-decoration: underline;
    text-underline-position: under;
    border: 0px;
    background-color:white;
    border-radius: 5px; 
    width:auto;
}
#refreshButton:hover{
    cursor:pointer;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
- Overlay
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
#overlay{    
    visibility:visible;
    position:absolute;
    display:flex;
    height:auto;
    width:100%;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= TopNav =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#nav{
    position:relative;
    z-index: 1000;
    margin: 10px;
    top:-100px;
    left: 60px;
}

#nav.show{
    top: 0px;
    animation: 1s navShow;
}

#countryDropDown{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index:1000;
    background-color: white;
    padding: 5px;
    border: 0px;
    border-radius: 5px; 
    width:auto;
}

#menuToggle{
    width:50px;
    animation: 0.5s menuOff;
}

#menuToggle.on{
    color:white;
    background-color:grey;
    animation: 0.5s menuOn;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= SideMenu =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#buttonContainer{
    position: absolute;
    display:flex;
    flex-direction:column;
    align-items: center;
    height: auto;
    width: 40px;
    top: -350px;
    animation: 1s menuHide;
}
#buttonContainer:hover{
    cursor:default;
}

#buttonContainer.show{
    top:-40px;
    animation: 1s menuShow;
}

#reCenter:hover{
    cursor:pointer;
}

.buttonHolder{
    position: relative;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    width: 50px;
    height:auto;
    border: 0px;
    border-radius:5px;
}

#navigationButtons{
    z-index:200;
}

#cityButtons{
    top:-94px;
    z-index:0;
    animation:0.5s hideCityButtons;
}

#cityButtons.show{
    top:5px;
    animation:0.5s showCityButtons;
}

.buttons{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    width:40px;
    height:auto;
    border-radius:5px;
    border:0px;
    margin:5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.buttons:hover{
    cursor:pointer;
}

.buttonIcons{
    position: relative;
    width:35px;
    height:35px;
}
#wikiButton{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 10px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#generalButton{
    animation: 0.5s button-off;
}

#generalButton.on{
    background-color:grey;
    animation: 0.5s button-on;
}

#financialButton{
    animation: 0.5s button-off;
}

#financialButton.on{
    background-color:grey;
    animation: 0.5s button-on;
}

#weatherButton{
    animation: 0.5s button-off;
}

#weatherButton.on{
    background-color:grey;
    animation: 0.5s button-on;
}

#attractionsButton{
    animation: 0.5s button-off;
}

#attractionsButton.on{
    background-color:grey;
    animation: 0.5s button-on;
}

#newsButton{
    animation: 0.5s button-off;
}
#newsButton.on{
    background-color:grey;
    animation: 0.5s button-on;
}

#eventButton{
    animation: 0.5s button-off;
}

#eventButton.on{
    background-color:grey;
    animation: 0.5s button-on;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
- InfoPanel
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
#infoPanel{
    position:absolute;
    top:45px;
    margin-left: 12px;
    display:flex;
    z-index:1000;
    width:100%;
    height:100%;
    border: 0px;
    border-radius: 10px; 
    max-width:312px;
}

.hideButton{
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color:white;
    z-index:1000;
    position:absolute;
    right:0px;
    background-color: grey;
    margin: 3.5px;
    border:0px;
    border-radius:10px; 
    opacity: 80%;
    width:auto;
}

.hideButton:hover{
    cursor:pointer;
}

#cityAlert{
    visibility:hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color:white;
    z-index:1000;
    position:absolute;
    top:40px;
    left:-300px;
    background-color: grey;
    margin: 10px;
    padding:5px;
    font-size:14px;
    border:0px;
    border-radius:10px; 
    opacity: 90%;
    width:auto;
    animation: 1s cityAlertHide
}

#cityAlert:hover{
    cursor:default;
}

#cityAlert.show{
    left:60px;
    animation:0.5s cityAlertShow;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Info Display =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.title{
    text-align:center;
    font-weight:bolder;
    background-color:rgb(20, 149, 20);
    border-radius:5px;
    height:20px;
    font-size:13px;
}

.display{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    visibility: hidden;
    background-color:white;
    position:absolute;
    z-index:1000;
    height: auto;
    left:-400px;
    border: 0px;
    border-radius: 5px;
    width:92%;
    max-width:400px;
    margin-top: 6px;
    animation: 1s infoDisplayHide;
}

.display.show{
    left:58px;
    animation: 1s infoDisplayShow;
}

.table{
    width:100%;
    font-size: 13px;
}
td{
    width:auto;
} 

#lifeETable{
    text-align:center;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Weather =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.icon{
    width: 20px;
    height:20px;
}
#weatherTable, #sevenDayForecast{
    text-align:center;
}
#weatherLocation td{
    width:50%
}
#currentConditions .value{
    width:33%;
}
#weatherTitle{
    background-color:rgb(20, 149, 20);
    border-radius:5px;
    height:20px;
}
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Currency Converter =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
#convertAmount{
    font-size:12px;
    width:90px;
    background-color:white;
    border: 1px solid black;
    border-radius: 5px;
}

#convertButton{
    font-size:12px;
    z-index:1000;
    background-color:white;
    border:1px solid black;
    border-radius: 5px; 
}

.currencySelect{
    font-size:12px;
    z-index:1000;
    background-color:white;
    border:1px solid black;
    border-radius: 5px; 
}
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
- CityAttractionSelector
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
#attractionDiv{
    z-index:1000;
    position:absolute;
    border: 0px;
    border-radius: 10px; 
    width:auto;
    margin: 10px;
    bottom:-100px;
    animation: 0.5s checklistHide;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

#attractionDiv:hover{
    cursor:default;
}

#attractionDiv.show{
    bottom:0px;
    animation: 0.5s checklistShow;
}

.attractionSelector{
    margin: 5px;
    position:relative;
    border-radius: 5px;
    border:0px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width:35px;
    height:35px;
    animation: 0.5s button-off;
}

.attractionSelector:hover{
    cursor:pointer;
}

.checked{
    background-color:grey;
    animation: 0.1s button-on
}

.checkIcon{
    width:25px;
    height:25px;
    display:flex;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
- News/Events Modal
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.scroller{
    position:relative;
    max-height:250px;
    overflow:hidden;
    overflow:auto; 
}

.scroller::-webkit-scrollbar{
    width:10px; 
}

.scroller::-webkit-scrollbar-track {
    margin:10px;     
}

.scroller::-webkit-scrollbar-thumb {
    background-color: grey;   
    border-radius: 4px;  
    border-right: 2px solid white;
    border-left:2px solid white;
    margin:5px;
}

.scroller ul{
    margin:5px;
    padding:0px;
}

.multiListItem{
    overflow: hidden;
    flex-direction:column;
    list-style:none;
    margin:5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px, rgba(0, 0, 0, 0.1) -1px 1px 1px, rgba(0, 0, 0, 0.1) 1px 1px 1px
}

.multiListItem:hover{
    background-color:grey;
    transition: 0.3s;
    cursor: pointer;
}

.noResult{
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
}

.articleTitle{
    max-height:30px;
    overflow:hidden;
    text-overflow:ellipsis;
    height:auto;
    padding:5px;
    font-weight:bold;
    border:0px;
    border-radius:10px;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= News =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
#newsDisplay{
    display:flex;
    flex-direction:column;
    visibility: hidden;
}

#newsNav{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px, rgba(0, 0, 0, 0) 0px -12px 30px, rgba(0, 0, 0, 0) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0) 0px -3px 5px;
    position:relative;
    height:30px;
    width:100%;
    border-radius: 5px;  
    text-align:center;
    display:flex;
    align-items:center;
    justify-content: center;
}

#newsList p{
    height:auto;
    padding:0px 5px 0px 5px;
    border:0px;
    border-radius:10px;
} 

#newsCategory{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px, rgba(0, 0, 0, 0) 0px -12px 30px, rgba(0, 0, 0, 0) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0) 0px -3px 5px;
    position:absolute;
    z-index: 1000;
    background-color:grey;
    color:white;
    border: 0px;
    border-radius: 10px; 
    width:auto;
    left:5px;
    padding:1px;
    opacity: 80%;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Event Scroller =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#eventDisplay{
    display:flex;
    flex-direction:column; 
    visibility: hidden;
}

#eventNavTitle{
    position:relative;
    width:100%;
    height:25px;
    border-radius: 5px;  
    text-align:center;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:13px;
    font-weight:bold;
}

#eventNav{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px, rgba(0, 0, 0, 0) 0px -12px 30px, rgba(0, 0, 0, 0) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0) 0px -3px 5px;
    position:relative;
    height:30px;
    width:100%;
    border-radius: 5px; 
    text-align:center;
    display:flex;
    align-items:center;
    justify-content: center;
}

#eventList li{
    height: auto;
    list-style:none;
    padding:5px;
    border: 0px;
    transition: 0.3s;
    display:flex;
    flex-direction:column
}

#eventCategory{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px, rgba(0, 0, 0, 0) 0px -12px 30px, rgba(0, 0, 0, 0) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0) 0px -3px 5px;
    position:absolute;
    z-index: 1000;
    background-color:grey;
    color:white;
    border: 0px;
    border-radius: 10px; 
    width:auto;
    left:5px;
    padding:2px;
    opacity: 80%;
}

#eventDate{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px, rgba(0, 0, 0, 0) 0px -12px 30px, rgba(0, 0, 0, 0) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0) 0px -3px 5px;
    position:absolute;
    z-index: 1000;
    background-color:grey;
    color:white;
    border: 0px;
    border-radius: 10px; 
    width:auto;
    padding:2px;
    opacity: 80%;
    left:90px;
}

#eventSearch{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position:absolute;
    background-color: grey;
    border:0px;
    border-radius:10px; 
    opacity: 80%;
    right: 5px
}

#eventSearch:hover{
    cursor:pointer;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
- Keyframes
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Info Panel Buttons =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
@keyframes button-off{
    from{
        background-color: grey;
    }
    to{
        background-color:white;
    }
}
@keyframes button-on{
    from{
        background-color:white;
    }
    to{
        background-color:grey;
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Top Nav =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@keyframes navShow {
    from{
        top:-100px
    }
    to{
        top:0px;
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Menu Button =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@keyframes menuButtonOn{
    from{
        color:black;
        background-color: white;
    }
    to{
        color:white;
        background-color:grey;
    }
}
@keyframes menuButtonOff{
    from{
        color:white;
        background-color: grey;
    }
    to{
        color:black;
        background-color:white;
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Side Nav =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@keyframes menuShow{
    from{
        top:-350px
    }
    to{
        top:-40px;
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Enter Div =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@keyframes fadeInEnterDiv{
    from{
        opacity:0%;
    }
    to{
        opacity:80%;
    }
}
@keyframes fadeOutEnterDiv{
    from{
        opacity:80%;
    }
    to{
        opacity:0%;
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= City Buttons =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@keyframes showCityButtons{
    from{
        top:-96px;
    }
    to{
        top:0px;
    }
}
@keyframes hideCityButtons{
    from{
        top:0px;
    }
    to{
        top:-96px;
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Modal =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@keyframes infoDisplayShow{
    from{
        left:-400px
    }
    to{
        left:60px;
    }
}
@keyframes infoDisplayHide{
    from{
        left:60px
    }
    to{
        left:-400px;
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Attraction Buttons =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@keyframes checklistShow{
    from{
        bottom:-100px
    }
    to{
        bottom:0px;
    }
}
@keyframes checklistHide{
    from{
        bottom:0px
    }
    to{
        bottom:-100px;
    }
}
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= City Alert =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@keyframes cityAlertShow{
    from{
        left:-300px;
    }
    to{
        left:60px;
    }
}
@keyframes cityAlertHide{
    from{
        left:60px;
    }
    to{
        left:-300px;
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Enter Button =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@keyframes enterReady{
    from{
        font-size:0px;
    }
    to{
        border-radius:15px;
        font-size:20px;
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Loader =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@keyframes c1{
    from{
        left:-40px
    }
    to{
        left:0px;
    }
}
@keyframes c2{
    from{
        left:0px
    }
    to{
        left:40px;
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
- Media Queries
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Display =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@media screen and (min-width: 450px) and (max-width: 1050px){
    
    .display{
        top:10px;
        max-width:100%;
        width:100%;
        animation: 1s infoDisplayHide;
    }
    .display.show{
        left:50vw;
        transform: translateX(-51%);
        animation: 1s infoDisplayShow;
    }
    @keyframes infoDisplayShow{
        from{
            left:-400px
        }
        to{
            left:50vw;
            transform: translateX(-51%);
        }
    }
    @keyframes infoDisplayHide{
        from{
            left:50vw;
            transform: translateX(-51%);
        }
        to{
            left:-400px;
        }
    }
    #cityAlert{
        top:5px;
        left:50vw;
        transform:translateX(-50%);
        z-index:600;
    }
    #cityAlert.show{
        left:50vw;
        transform:translateX(-50%);
        top:45px;
        animation:0.5s cityAlertShow;
    }
    @keyframes cityAlertShow{
        from{
            top:5px;
        }
        to{
            top:45px;
        }
    }
    @keyframes cityAlertHide{
        from{
            top:45px;
        }
        to{
            top:5px;
        }
    }
}

@media screen and (min-width: 1050px){
    .display{
        top:-41px;
        max-width:100%;
        width:100%;
    }
    #cityAlert{
        top:0px;
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= Menu =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@media screen and (min-width: 450px){
    #countryDropDown{
        width:300px;
        height:40px;
    }
    #nav{
        left:50vw;
        transform: translateX(-50%);
    }
}